[submodule "gateway"]
	path = gateway
	url = git@github.com:Ordineo/gateway.git
[submodule "eureka"]
	path = eureka
	url = git@github.com:Ordineo/eureka.git
[submodule "hystrix"]
	path = hystrix
	url = git@github.com:Ordineo/hystrix.git
[submodule "turbine"]
	path = turbine
	url = git@github.com:Ordineo/turbine.git
[submodule "config"]
	path = config
	url = git@github.com:Ordineo/config.git
[submodule "employee-core-service"]
	path = employee-core-service
	url = git@github.com:Ordineo/employee-core-service.git
[submodule "front-end"]
	path = front-end
	url = git@github.com:Ordineo/front-end.git
[submodule "social-composite-service"]
	path = social-composite-service
	url = https://github.com/Ordineo/social-composite-service.git
